<div class="text-center">
  <h2 class="mb-5" id="page-title"><%= title %></h2>
  <h4 class="mb-4" id="page-subtitle"><%= subtitle %></h4>

  <div class="btn-group" role="group">
      <% for (let i = 0; i < choices.length; i++) { %>
    <button
      class="btn btn-light btn-choice"
      id="choice<%= i + 1 %>"
      onclick="ajax('/<%= choices[i].title.toLowerCase() %>')"
    >
      <%= choices[i].title %>
    </button>
    <% } %>
  </div>
</div>
