<div class="text-center">
  <h2 class="mb-5" id="page-title"><%= title %></h2>
  <h4 class="mb-4" id="page-subtitle"><%= subtitle %></h4>

  <div class="btn-group" role="group">
    <button
      class="btn btn-light btn-choice"
      id="choice1"
      onclick="ajax('/<%= choices[0].toLowerCase() %>')"
    >
      <%= choices[0] %>
    </button>
    <button
      class="btn btn-light btn-choice"
      id="choice2"
      onclick="ajax('/<%= choices[1].toLowerCase() %>')"
    >
      <%= choices[1] %>
    </button>
  </div>
</div>
