<div class="text-center">
  <h2 id="choice-title"><%= title %></h2>
  <h4 id="choice-subtitle"><%= subtitle %></h4>

  <button class="btn-choice" id="choice1" onclick="ajax('/<%= choices[0].toLowerCase() %>')"><%= choices[0] %></button>
  <button class="btn-choice" id="choice2" onclick="ajax('/<%= choices[1].toLowerCase() %>')"><%= choices[1] %></button>
</div>
