<h2 class="mb-5"><%= title %></h2>
<% for (let i = 0; i < productCategories.length; i++) { %>
<div class="row mb-2">
  <div class="col-md-12 mb-3">
    <h3 class="product-cat"><%= productCategories[i].title %></h3>
    <span class="badge badge-danger">must-have</span>
    <% if (productCategories[i].description && productCategories[i].description !== "") { %>
    <h6 class="recommendation">(<%= productCategories[i].description %>)</h6>
    <% } %>
  </div>
</div>

<% for (let j = 0; j < productCategories[i].products.length; j++) { %> <% if (j
% 3 === 0) { %>
<div class="row">
  <% } %>
  <figure class="col-md-2 mr-5 ml-1 mb-5 product-box text-center">
    <img class="cat-img" src="<%= productCategories[i].products[j].imageLink %>" alt="<%= productCategories[i].products[j].title.toLowerCase() %>" />
    <figcaption class="pr-2 pl-2"><%= productCategories[i].products[j].title %></figcaption>
    <figcaption class="pt-3"><a class="btn bold" href="<%= productCategories[i].products[j].link %>"
        >Go to Store</a
      ></figcaption>
      <figcaption class="pb-2">
      <div class="btn bold pointer" id="addToRegistry<%= i %><%= j %>" onclick="addToRegistry('<%= productCategories[i].products[j].title %>', '<%= i %><%= j %>')">Add to Registry</div></figcaption>
  </figure>
  
  <% if (j % 3 === 2) { %>
</div>
<% } %> <% } %> <% } %>
