<% if (data.length == 0) { %>
<h2 class="mb-5">No results for "<%= title %>"</h2>
<% } else { %>
<h2 class="mb-5">Results for "<%= title %>"</h2>

<% for (let j = 0; j < data.length; j++) { %> <% if (j
% 3 === 0) { %>
<div class="row mt-5">
  <% } %>
  <figure class="col-md-2 mr-5 ml-1 mb-5 product-box text-center">
    <img
      class="cat-img"
      src="<%= data[j].imageLink %>"
      alt="<%= data[j].title.toLowerCase() %>"
    />
    <figcaption class="pr-2 pl-2">
      <%= data[j].title %>
    </figcaption>
    <figcaption class="pt-3 pb-2">
      <a class="btn bold" href="<%= data[j].link %>"
        >Go to Store</a
      >
      <div
        class="btn bold pointer"
        onclick="addToRegistry('<%= data[j].title %>')"
      >
        Add to Registry
      </div>
    </figcaption>
  </figure>

  <% if (j % 3 === 2) { %>
</div>
<% } %> <% } %> <% } %>
